<div class="container">
  <div class="row">
    <div class="col-md-4 border border-warning" *ngFor="let mysfit of mysfits">
      <br>
      <p>
        <strong> {{mysfit.name}}</strong>
        <br>
        <img src="{{mysfit.thumbImageUri}}" alt="{{mysfit.name}}">
      </p>
      <p>
        <br>
        <b>Species:</b> {{mysfit.species}}
        <br>
        <b>Age:</b> {{mysfit.age}}
        <br>
        <b>Good/Evil:</b> {{mysfit.goodevil}}
        <br>
        <b>Lawful/Chaotic:</b> {{mysfit.lawchaos}}
      </p>
    </div>
  </div>
</div>
